.projects-container {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
  font-family: sans-serif;
}

.projects-background {
  position: absolute;
}
