@import "../../styles/theme-variables.scss";
.hero-canvas-container {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
  padding-top: 10vh;
  position: absolute;
  width: 100vw;
  z-index: 0;
}
.hero-container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: flex-end;
  padding-top: 10vh;
  width: 100vw;

  .hero-links {
    background-color: transparent;
    font-size: 4rem;
    font-weight: 900;
    pointer-events: none;
    z-index: 1;

    span {
      font-family: "Micro 5";
      font-size: 3rem;
    }
  }
  .dark-icons {
    a {
      color: $d-bg-color-1;
      pointer-events: auto;
      transition: 0.5s all;

      &:hover {
        color: $d-text-color-1;
      }
    }
  }
  .light-icons {
    a {
      color: $l-bg-color-1;
      pointer-events: auto;
      transition: 0.5s all;

      &:hover {
        color: $l-text-color-1;
      }
    }
  }
}
