// Light Theme Variables
$l-bg-color-1: #fff;
$l-bg-color-2: #f0f0f0;
$l-text-color-1: #222;
// ... other variables

// Dark Theme Variables
$d-bg-color-1: #222;
$d-bg-color-2: #333;
$d-text-color-1: #fff;
// ... other variables
