@import "../../styles/theme-variables.scss";

.about-canvas-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  padding-top: 10vh;
}

.about-container {
  padding-top: 10vh;
  color: white;

  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .about-links {
    pointer-events: none;
    font-weight: 900;
    font-size: 4rem;
    z-index: 99;
    background-color: transparent;

    span {
      font-family: "Micro 5";
      font-size: 3rem;
    }
  }

  .dark-icons {
    a {
      color: $d-bg-color-1;
      pointer-events: auto;
      transition: 0.5s all;
    }
    a:hover {
      color: $d-text-color-1;
    }
  }

  .light-icons {
    a {
      color: $l-bg-color-1;
      pointer-events: auto;
      transition: 0.5s all;
    }
    a:hover {
      color: $l-text-color-1;
    }
  }
}
