$dotSize: 10px;
$dotColor: white;
.loading {
  align-items: center;
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;
  max-height: 100vh;
  max-width: 100vh;
  min-height: 100vh;
  min-width: 100vh;
  position: fixed;
  z-index: 9999;
}
.load {
  animation: load 20s infinite;
  background: $dotColor;
  border-radius: 50%;
  height: $dotSize;
  left: 50%;
  position: absolute;
  top: 50%;
  width: $dotSize;

  &:before,
  &:after {
    animation: load 1s alternate infinite;
    background: $dotColor;
    border-radius: 50%;
    content: "";
    display: block;
    height: $dotSize;
    opacity: 0.5;
    position: absolute;
    width: $dotSize;
  }
  &:before {
    transform: translateX(-20px);
  }
  &:after {
    transform: translateX(20px);
  }
}
@keyframes load {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(inherit);
  }
}
