.text-logo {
  cursor: grab;
  height: 10vh;
  margin: 0px;
  width: 10vh;

  .logo {
    flex-shrink: 0;
    position: absolute;
    z-index: 55;
  }
  .hidden {
    opacity: 0;
    z-index: 40;
  }
}
