.text-logo {
  margin: 0px;
  height: 10vh;
  width: 10vh;
  cursor: grab;

  .logo {
    position: absolute;
    flex-shrink: 0;
    z-index: 55;
  }
  .hidden {
    opacity: 0;
    z-index: 40;
  }
}
