.Contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  padding-bottom: 10vh;

  div {
    text-align: center;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    padding-bottom: 2vh;
    padding-top: 10vh;
  }
  a {
    color: grey;
    font-size: 50px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #007bff;
    }
  }
  .closed-form {
    max-height: 0px;
    max-width: 0px;
  }
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-height: 100vh;
    max-width: 90vw;
    overflow: hidden;
    transition: max-width 0.4s, max-height 1s 0.4s;
    width: 600px;

    label {
      font-size: 18px;
      margin-bottom: 5px;
    }
    input[type="text"],
    input[type="email"],
    textarea {
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      margin-bottom: 10px;
      padding: 10px;
      transition: border-color 0.3s ease;
      width: calc(100% - 20px);

      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }
    textarea {
      min-height: 100px;
      resize: vertical;
    }
    input[type="submit"] {
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 18px;
      padding: 10px;
      transition: background-color 0.3s ease;
      width: 100%;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
