.navbar-container {
  align-items: flex-start;
  backdrop-filter: blur(5px);
  display: flex;
  height: 10vh;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;

  .full-nav {
    align-items: center;
    display: flex;
    flex: 1;
    height: 10vh;
    justify-content: space-between;

    .navbar-links {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: flex-start;
      list-style: none;
      margin-left: 10px;

      a {
        font-size: 1rem;
        margin: 0px 2px;
        text-decoration: none;
        transition: color 0.5s;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .dark-links {
      a {
        color: #ffffff;
      }
    }
    .light-links {
      a {
        color: #000000;
      }
    }
  }
  .burger-nav {
    display: none;
    height: 100vh;
    pointer-events: none;
    width: 90vw;
    z-index: 999;

    div {
      overflow: visible;

      .bm-burger-button {
        height: 30px;
        pointer-events: auto;
        position: fixed;
        right: calc(5vh - 18px);
        top: calc(5vh - 15px);
        width: 36px;
      }
    }
    .bm-menu-wrap {
      min-height: 100vh;
      pointer-events: auto;
      position: fixed;

      .bm-menu {
        min-height: 100vh;

        .bm-item-list {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          list-style: none;
          margin-left: 10px;
          min-height: 100vh;
          padding: 0.8em;

          .bm-item {
            width: 100%;

            .burg-links {
              align-items: flex-start;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              list-style: none;

              a {
                font-size: 1.4rem;
                margin: 8px 2px;
                text-decoration: none;
                transition: color 0.5s;
              }
              a:hover {
                text-decoration: underline;
              }
            }
          }
          .burg-themesetter {
            display: flex;
            justify-content: flex-start;
            margin-top: 10px;
          }
        }
      }
      .bm-cross-button {
        margin-right: 1.7vh;
        min-height: 5vh;
        min-width: 5vh;
        right: 2.5vh;
        top: 2.5vh;

        span {
          right: 0;
          top: 0;

          .bm-cross {
            background: #bdc3c7;
            min-height: 5vh;
            min-width: 2px;
          }
        }
      }
    }
    .bm-overlay {
      background: transparent;
    }
    .dark-links {
      p {
        color: #ffffff;
      }
      a {
        color: #ffffff;
      }
    }
    .light-links {
      p {
        color: #000000;
      }
      a {
        color: #000000;
      }
    }
  }
  .dark-burg {
    .bm-menu-wrap {
      background: #101010;
    }
    .bm-burger-bars {
      background: #f0f0f0;
    }
    .bm-burger-bars-hover {
      background: #a90000;
    }
  }
  .light-burg {
    .bm-menu-wrap {
      background: #f0f0f0;
    }
    .bm-burger-bars {
      background: #101010;
    }
    .bm-burger-bars-hover {
      background: #a90000;
    }
  }
  @media (max-width: 615px) {
    .full-nav {
      display: none;
    }
    .burger-nav {
      display: flex;
    }
  }
}
