.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  .text-logo {
    margin: 0px;
    height: 10vh;
    width: 10vh;
  }

  .navbar-links {
    margin-left: 10px;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;

    a {
      text-decoration: none;
      font-size: 1rem;
      transition: color 0.5s;
      margin: 0px 2px;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .dark-links {
    a {
      color: #ffffff;
    }
  }

  .light-links {
    a {
      color: #000000;
    }
  }
}
