.vertical-timeline-element-content {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
}

.verticle-timeline-element-title {
  font-size: 1.5rem;
  margin: 0px;
}

.verticle-timeline-element-subtitle {
  font-size: 1rem;

  margin: 0px;
  margin-top: 1rem;
}

.description {
  margin: 0px;
  color: #404040;
}
