@import "./styles/theme-variables.scss";
@import "./styles/fonts.scss";

.light-theme-primary {
  background: $l-bg-color-1;
  color: $l-text-color-1;
  transition: background 0.5s, color 0.5s;
}

.dark-theme-primary {
  background: $d-bg-color-1;
  color: $d-text-color-1;
  transition: background 0.5s, color 0.5s;
}

body {
  margin: 0px;
  font-family: "Fira Sans";
}
